body,html{margin:0;padding: 0;height: 100%;font-family: "Microsoft YaHei", "微软雅黑", "宋体", Tahoma, Helvetica; font-size: 12px;}

.btn{padding:8px 15px;border:0;background:#0bF;color:white;border-radius:3px;cursor:pointer;margin:0 10px;display:inline-block;font-size:12px;}
.btn:hover{background:#0af;}

.fix-header-top{width:100%;line-height:40px;background:rgba(0,0,0,0.8);position:fixed;top:0;color: white;padding:0 20px;}
.fix-header-top>span{margin:15px;}
.data-box{width:200px;position: fixed;right: 20px;top: 60px;}
.close-box{height:30px;background-color: rgba(22,22,22,0.9);padding:10px 0;}
.control-close{width:100px;height:30px;line-height: 30px;margin:auto;border: 1px solid white;border-radius: 5px;text-align: center;cursor: pointer;transition:0.4s;}
.control-close:hover{box-shadow: 0 0 10px #aaa;font-size: 14px;}

.data-item{height: 70px;margin-top:3px;}
.data-item .data-value{text-align: center;line-height:45px;font-size:20px;font-weight: bold;overflow: hidden;}
.data-item .data-value [name]{font-size: 24px;}
.data-item .data-name{font-size: 14px;line-height: 25px;margin:0 10px;}
.fw{color: white;}
.fb{color: black;}

.player-box{width:96%;height:60px;background:rgba(0,0,0,0.8);position:absolute;bottom:20px;left:2%;display:flex;}
.player-bar{height: 10px;background:#555;position:relative;width:100%;cursor:pointer;}
.player-line{height:100%;width:0;background-image:linear-gradient(to right,blue,#3175C1);float:left;transition:1s linear;position: relative;}
.player-line:after{content:'';display:block;height:18px;width:18px;background:white;position:absolute;right:-8px;top:-4px;border-radius:100%}
.player-point{width: 18px;height:18px;border-radius:100%;background:transparent;margin:-4px 0 0 -9px;position:absolute;left:0;cursor: pointer;transition:1s linear;}
.player-info{height:60px;width:300px;}
.player-info>span{margin-left:15px;margin-top:20px;line-height: 70px;}
.player-btn{width:32px;height:32px;border: 2px solid white;border-radius: 100%;margin:10.5px;cursor: pointer;position: relative;}
.player-pause{width:0;height:0;border-left:12px solid white;border-top:8px solid transparent;border-bottom:8px solid transparent;margin:8px 12px;}
.player-start{width:8px;height: 16px;border-left:3px #FFFFFF solid;border-right: 3px #FFFFFF solid;background: transparent;margin:8px 9px;}
.player-quick:after{content:'';display:block;position:absolute;border-left:12px solid white;border-top:8px solid transparent;border-bottom:8px solid transparent;top:8px;left:7px;}
.player-quick:before{content:'';display:block;position:absolute;border-left:12px solid white;border-top:8px solid transparent;border-bottom:8px solid transparent;top:8px;left:17px;}
.player-end:after{content:'';display:block;width:14px;height: 14px;background:white;margin:9px;}
.player-speed{color:white;position:absolute;top:-4px;right:-18px;}
.player-speed:before{content:'×';}