html, body {margin:0;padding:0;font-family: "Microsoft YaHei", "微软雅黑", "宋体", Tahoma, Helvetica; font-size: 12px;height:100%;overflow:hidden;}
a { text-decoration:none; cursor: pointer; }
.clearfix:after, .clearfix:before { content: "."; display: block; height: 0; visibility: hidden;}
.clearfix:after { clear: both; }
.clearfix{ zoom: 1; }
.fl { float: left; }
.fr { float: right; }
.opacity{opacity: 0.8;cursor: default !important;color: #ccc;}
ul,dt,dd,dl{padding:0px;margin:0px;list-style: none;}
select{height:25px;border-radius:6px;padding:3px 10px 3px 8px;}

.label{display:inline;padding:5px 10px;font-size: 100%;text-align: center;white-space: nowrap;vertical-align: baseline;color: #fff;background-color:rgb(132,132,132);margin-right:10px;}
.btn{display:inline-block;border:0;padding: 5px 10px;color:white;text-align:center;white-space: nowrap;vertical-align: middle;cursor:pointer;border-radius:3px;}
.badge{display: inline-block;min-width:10px;padding:3px 7px;font-size: 12px;font-weight: bold;color: #fff;text-align: center;white-space:nowrap;background-color:rgb(132,132,132);border-radius: 10px;}
.point:before{content: "●";padding:5px 5px 5px 0;font-size:20px;}

.yellow{background-color:rgb(235,166,11) !important;}
.green{background-color:rgb(60,166,102) !important;}
.red{background-color:rgb(215,12,32) !important;}
.blue{background-color:rgb(44,127,221) !important;}
.blue-deep{background-color:rgb(18,100,193) !important;}
.gray{background-color:#555;}
.ligt-gray{background-color:#adadad;}

.font-yellow{color:rgb(235,166,11) !important;}
.font-green{color:rgb(60,166,102) !important;}
.font-red{color:rgb(215,12,32) !important;}
.font-blue{color:rgb(18,100,193) !important;}
.font-grey{color:rgb(86,86,86) !important;}
.font-light-gray{color:#adadad}
.font-unuse{color:#ddd;}

.font-blue{
	color:#2c7fdd;
}
.font-red{
	color:#f79595;
}
.font-green{
	color:#009b5b;
}

.sm{padding:3px 6px !important;}
.lg{padding:7px 14px !important;}

::-webkit-scrollbar {width: 6px;}
::-webkit-scrollbar-track {border-radius: 3px;border: 1px solid #666;background-color:rgb(83,83,83);}/*背后颜色*/
::-webkit-scrollbar-thumb {border-radius: 3px;background-color:rgb(148, 148, 148);}/*滚条颜色*/

.error { color: Red !important; border-color: #b00!important; }
.block { display: block; width: 100%!important; }
.inline { display: inline-block !important; }
.button {border: 1px solid #D6D6D6; }

#status{display:none; position:fixed; top:60px; border:2px solid #E9EDBE; background-color:#F0C36D; min-height:1em; width:300px; padding:1em;left:50%;margin-left: -150px;transition:1s;}

/*分页*/
.page-bar { text-align: center; float:right;margin:0 30px 0 0;}
.page-items { margin: 10px 0px 5px 0px; padding: 0px; border-radius: 4px; display: inline-block; }
.page-items>li { color: rgb(215,12,32); border: 1px solid #dddddd; background-color: white; padding: 5px 10px; font-size: 12px; float: left; margin-left: -1px; position: relative; display: block; line-height: 1.5em; cursor: pointer; }
/*当前选中样式*/
.page-current-item { color: white !important; background-color: rgb(215,12,32) !important; border-color: rgb(215,12,32); cursor: default !important; }
/*不可点击的样式*/
.page-disable-item { color: rgb(132,132,132) !important; background-color: white !important; border-color: #ddd; cursor: default !important; }
/*省略号的样式 暂时没用到 */
.省略号 { color: #666 !important; background-color: white !important; border: 0px !important; margin-left: 0px !important; cursor: default; }
.page-jump { display: inline-block; height: 24px; margin-left: 20px; transform: translate(0, -16px); -webkit-transform: translate(0, -16px); -moz-transform: translate(0, -16px); -ms-transform: translate(0, -16px); -o-transform: translate(0, -16px); }
.page-jump input { width: 50px; padding: 0px; margin: 0px; height: 27px; text-align: center; border: 1px solid #ccc; color: rgb(215,12,32); }
.page-jump button { width: 50px; padding: 0px;margin:0px;height: 29px; border: 1px solid #ccc; background: white; color: rgb(215,12,32); margin-left: 5px; }
.page-info { line-height: 50px; font-size: 13px; text-align: center; color: rgb(215,12,32); float:left;margin:0 0 0 30px;}
/*prompt*/
.layer { position: fixed; left: 0; top: 0; background: rgba(0,0,0,0.3); width: 100%; height: 100%; z-index: 100; }
.popup { min-width: 300px; background: #fff; z-index: 11; position:absolute; left: 50%; top: 50%;padding:0; }
.popup-title{height:30px;line-height:30px;font-size:16px;color:rgb(215,12,32);}
.popup .title { width: 100%; height: 5px; line-height: 26px; text-indent: 0.8em; color: white; background-color:rgb(215,12,32); cursor:move;}
.popup .close { display:none;background: url(/theme/static/images/window_close.png) left top no-repeat; width: 15px; height: 15px; margin: 5px 7px 0 0; }
.popup .main { padding: 0px; min-height:20px;overflow-y:auto;overflow-x:hidden;}
.popup .close { cursor: pointer; }
.popup .content { padding: 15px; }
.popup .buttons { margin: 0px 0px 16px 0;text-align: center;}
.popup .buttons div { margin: 5px 10px; }
.popup .buttons .confirm{ background-color:rgb(215,12,32);color:white; }
.popup .buttons .save{ background-color:rgb(215,12,32);color:white; }
.popup .buttons .cancel{ background-color:#aaa;color:white; }
.popup .buttons .button { margin: 0 10px; text-align: center; cursor: pointer;padding:6px 20px;border-radius:5px;font-size: 14px;}
/* Data Validator */
.validate-info { padding: 0 5px; display: inline-block; }
.required { color: #f9534f; }
/*进度条*/
#progressBox { width: 300px; background: #2580DA; color: white; left: 50%; top: 50%; position: absolute; margin-left: -150px; margin-top: -60px; padding: 20px 20px 40px 20px; box-shadow: 0px 0px 5px #666; border: 1px solid #6F717E; border-radius: 3px; z-index: 999; }
.inner-progress { height: 100%; background: #3DF54D; width: 0%; max-width: 100%; transition-duration: 0.5s; }
#progressTitle { max-width: 70%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

/*登陆界面*/
.login-box{width:300px;margin:auto;margin-top: 100px;font-size: 12px;}
.login-logo{text-align:center;}
.login-line{width: 300px;line-height: 50px;height: 50px;text-align: center;display: inline-block;}
.login-title{font-size: 24px;color:#d70c20;font-weight: bold; }
.login-box a{text-decoration: none;}
.login-input{width:290px;padding: 0px 5px;border: 1px solid #ddd;border-radius: 5px;height: 30px;background-color:white !important; }
.login-input:focus{background-color:white !important; }
.login-btn{background:#d70c20;line-height:30px;margin:10px auto;color: white;border-radius: 5px;text-align: center;font-size: 13px;cursor:pointer;border:1px solid red;width:300px;}
.login-err{box-shadow: 0 0 6px red;border: 1px solid #d70c20;}
.login-btn-text{background-color: transparent;border:0;color: white;font-style: 14px;cursor: pointer;}


#header{height:60px;line-height:60px;background:rgb(19,20,24);color:rgb(117,117,117);overflow:hidden;}
#header .header-logo{height:51px;width:132px;background:url(/theme/static/images/sf-logo.png);margin:4.5px 10px;}
#header .header-search{position:relative;}
#header .header-search>input[type=search]{padding:8px 8px;border-radius:5px;border:0; width: 205px;}
#header .search-btn{width:30px;height:32px;background:red;position: absolute;right:0;top:13px;cursor:pointer;background:url(/theme/static/images/icons-search.png) 0 8px;}
#header .header-user{display:inline-block;margin:0 30px 0 10px;}
#header .header-user>span{margin:0 10px;}
#header .header-user>span:last-child a{color:rgb(0,145,240);}


#menu_left{width:220px;background-color:rgb(83,83,83);color:white;float:left;overflow-y:auto;overflow-x:hidden;}
.menu-items{background-color:rgb(83,83,83);font-size: 13px;}
.menu-items>li{margin-bottom: 1px;}
.menu-title{background:rgb(113,113,113);padding:0 20px;line-height: 40px;cursor: pointer;position: relative;font-size: 15px;}
.menu-title-current{background:#d70c20;}
.menu-title:after{content:"";width:40px;height:40px;background:url(/theme/static/images/org/icons.png) -78px 0px  no-repeat;position:absolute;right:0px;top:0px;}
.menu-title-current:after{content:"";width:40px;height:40px;background:url(/theme/static/images/org/icons.png) -78px 0px  no-repeat;position:absolute;right:0px;top:0px;}
.menu-items .menu-item{padding:12px 20px 12px 25px;display: none;}
.menu-items .menu-item>li{line-height:30px;position: relative;cursor: pointer;}
.menu-items .menu-item>li>a{padding:0 10px;color: white;text-decoration: none;display: block;}
.menu-items .menu-item-current{background:rgb(113,113,113);border-left: 3px solid #d70c20;margin-left: -3px;}

#content{margin-left:220px;position:relative;}

/*表格部分*/
.table { width: 100%; display: table; }
.table .table-head { border-top: 1px solid #B9BDBE; background: #EAEAEA; display: table-header-group; }
.table .table-head .cell { border-top: 1px solid #B9BDBE; border-right: 1px solid #B9BDBE; border-bottom: 1px solid #B9BDBE; }
.table .table-body { display: table-row-group; }
.table .row { height: 28px !important; line-height: 28px !important; display: table-row; text-align: center; }
.table .cell { height:28px !important; line-height: 28px !important; display: table-cell; text-align: center; vertical-align: middle; border-right: 1px solid #B9BDBE; border-bottom: 1px solid #B9BDBE; }
.table .cell:first-child { border-left: 1px solid #B9BDBE; }
.table .cell .operate, .table-box .cell .delete { color: #285287; }
.table .cell .operate_span { color: #285287; }


/*卡片样式*/
.content-top{
	height:40px;
	background-color:#f5f6f7;
	border-bottom: 1px solid #ddd;
}
.content-top .ul-tab{
	margin: 10px 0 0 20px;
	float:left;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	overflow: hidden;
	zoom:1;
}
.content-top .ul-tab li{
	color:#555;
	padding: 0 29px;
	border-right: 1px solid #ddd;
	cursor: pointer;
	line-height: 29px;
	float: left;

}
.content-top .ul-tab li.current{
	border-bottom: 1px solid #fff;
	background-color: #fff;

}
.content-top .ul-tab span{
	height:12px;
	line-height:12px;
	margin-left: 5px;
}
.content-top .separate-line{
	display: inline-block;
	width: 1px;
	height:27px;
	border-right: 1px solid #d5d9dc;
	margin:0 15px;
}
.content-bottom{height:50px;background:rgba(245,246,247,0.6);border-top: 1px solid #ddd;position:absolute;bottom:0;left:0;width: 100%;overflow:hidden;}
.content-top-btn,content-bottom-btn{margin:6px 20px;}
.content-top-title{line-height: 40px;padding: 0 20px;font-size: 15px;font-weight: bold;}

.content-main{overflow-y:auto;overflow-x:hidden;}
.card-items{padding:7.5px;}

.card-item{width:98%;background-color:rgb(245,246,247);border:1px solid #ddd;margin:7.5px 0.5%;float:left;overflow: hidden;min-width:300px;}
@media only screen and (max-width: 980px) {
	.page-jump{display:none;}
	.page-bar{float:inherit;}
	.move-box{
		background-color: #f5f6f7;
	}
}
@media only screen and (min-width: 981px) and (max-width: 1240px){
	.card-item{width:48%;background-color:rgb(245,246,247);border:1px solid #ddd;margin:7.5px 0.5%;float:left;overflow: hidden;min-width:300px;}
	.move-box{
		position: absolute;
		top:0;
		right:0;
		margin-right: 20px;
	}
}
@media only screen and (min-width: 1240px) {
	.card-item{width:31.5%;background-color:rgb(245,246,247);border:1px solid #ddd;margin:7.5px 0.5%;float:left;overflow: hidden;min-width: 300px;max-width:380px;}
	.move-box{
		position: absolute;
		top:0;
		right:0;
		margin-right: 20px;
	}

}
.card-item-top{height:32px;line-height:32px;padding-left:15px;border-bottom:1px solid #ddd;}
.card-btns{height:32px;}

.card-item .uav-no{
	display: inline-block;
	height:33px;
	line-height: 33px;
}
.card-item .card-item-top{
	padding-left:5%;
}
.card-item .card-item-middle{
	padding:0 5%;
}
.card-item .card-item-middle table{
	width:100%;
	margin-bottom: -1px;
	color:#555;
}
.card-item .card-item-middle td{
	padding: 10px 0;
	border-bottom: 1px dotted #e2e3e4;
	width: 50%;
}
.card-item .card-item-bottom{
	padding:0 5%;
}


.card-item-icon{width:40px;height:32px;border-left:1px solid #ddd;float:left;cursor: pointer;background:url(/theme/static/images/org/icons.png) no-repeat;}
.card-btn-pwd{background-position:-116px -39px;}
.card-btn-delete{background-position:-152px -2px;}
.card-btn-edit{background-position:0px -39px;}
.card-btn-lock{background-position:0px -3px;}
.card-btn-lockd{background-position:-74px -39px;}
.card-btn-tip{background-position:-152px -38px;}
.card-btn-open{background-position:-129px -113px;}
.card-btn-close{background-position:-129px -84px;}
.card-btn-root{background-position:-155px -105px;}

.card-item-content{padding:0 20px;font-size:12px;}
.card-line{height:42px;border-top: 1px dotted #ddd;margin-top:-1px; line-height: 42px;}
.card-item-bottom{height:52px;line-height:26px;padding-left:15px;border-top:1px solid #ddd;font-size: 12px;color:#888;word-wrap:break-word;overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}

.card-hidden{position:absolute;top:33px;display:none;background:rgb(229,231,233);width:100%;}

/*下拉列表 select*/
.dropdown-value{border:1px solid #ccc;border-radius:5px 5px 0 0;padding:5px 50px 5px 10px;position:relative;cursor: pointer;min-height:10px;}
.dropdown-value-radius{border-radius: 5px !important;}
.dropdown-open:after{content:"▲";display:block;width:20px;height:20px;line-height:20px;position:absolute;right:6px;top:4px;}
.dropdown-close:after{content:"▼";display:block;width:20px;height:20px;line-height:20px;position:absolute;right:6px;top:4px;}
.dropdown-items{margin:0;padding:0;list-style:none;padding:5px 5px;width:130px;border:1px solid #ccc;border-top:0;border-radius:0 0 5px 5px;position:absolute;z-index: 2;display: none;background:white;}
.dropdown-items li{padding:5px 8px;border-radius:5px;cursor:default;}
.dropdown-items li:hover{background:#eee;}
.dropdown-item-current{background:#aaa;}

/*树形菜单*/
.tree { min-height: 20px; padding: 19px; margin-bottom: 20px;color: #333; }
.tree-line{height:1px;background:#ccc;}
.tree>ul ul{padding-left: 20px;}
.tree li { list-style-type: none; margin: 0; padding: 10px 0px 0 0px; position: relative;}
.tree li::before, .tree li::after { content: ''; left: -20px; position: absolute; right: auto }
.tree li::before { /*border-left:1px solid #999;*/
bottom: 50px; height: 100%; top: 0; width: 1px }
.tree li::after { /*border-top:1px solid #999;*/
height: 20px; top: 25px; width: 25px }
.tree li span { display: inline-block; padding: 3px 8px; text-decoration: none }
.tree li:hover{background:#eee;}
.tree li:hover>ul{background:white;}
.tree li.parent_li>span { cursor: pointer }
.tree>ul>li::before, .tree>ul>li::after { border: 0 }
.tree li:last-child::before { height: 30px }
.icon-minus-sign,.icon-plus-sign{display:inline-block;width:14px;height:14px;margin-top:1px;line-height:14px;padding-right:5px;vertical-align:text-top;background-repeat:no-repeat;}
.icon-minus-sign{background:url(/theme/static/images/icons.png) -433px -96px  no-repeat;}
.icon-plus-sign{background:url(/theme/static/images/icons.png) -408px -96px  no-repeat;}
.department-info{width:700px;position:absolute;right:0;top:10px;}
.area-info{width:600px;position:absolute;right:0;top:10px;}
.department-info>span,.area-info>span{text-align: center;}
.department-info>span:first-child{width:200px;}
.area-info>span:first-child{width:120px;}
.department-info>span:first-child+span,.area-info>span:first-child+span{width:250px;}
.department-info>span:first-child+span+span,.area-info>span:first-child+span+span{width:68px;}
.department-info>span:first-child+span+span+span,.area-info>span:first-child+span+span+span{width:28px;}
.department-add,.area-add{width:68px;cursor: pointer;color: #2c7fdd;}
.department-del,.area-lock{width: 28px;color:#d70c20;cursor: pointer;}
.area-lockd{width: 28px;color:#eba70e;cursor: pointer;}
.department-modify{width: 28px;color:#eba70e;cursor: pointer;}


.calendar{width: 1070px;padding:20px;}
.calendar-week-items{margin: 0;padding:0;list-style-type: none;width: 100%;height: 40px;}
.calendar-week-items li{float: left;width:14.2%;line-height:40px;font-weight: bold;font-size: 16px;text-align:center;}
.current-week-item{color:rgb(44,127,221);}
.calendar-table{border-collapse:collapse;width: 100%;background: rgb(245,246,247);}
.calendar-table td{width:14.2%;height:90px;border:1px solid #aaa;}
.day-item{position:relative;}
.month-current .day-item:hover .day-info{display:block;}
.month-current .day-item:hover .day-num{background-color: rgb(44,127,221);color: white;}
.month-current .day-num{line-height:30px;padding:5px 15px;font-size:28px;}
.day-info-show{padding: 0px 15px;font-size:12px;}
.day-info-show>.day-info-line{line-height: 21px;}
.day-info{padding:0px 15px;background-color:rgb(239,246,255);font-size:12px;position:absolute;width:118px;display: none;top:40px;z-index: 2;border:2px solid rgb(44,127,221);margin-top:-3px;}
.day-info>.day-info-line{line-height: 32px;}
.date-last .day-info{top:-140px;}
.month-next .day-num,.month-pre .day-num{line-height:30px;padding:5px 15px;font-size:28px;color: #bbb;}